@model ChapterVM
@{
    ViewData["Title"] = "View";
    Layout = null;
}
@using (Html.BeginForm("Create", "Chapter", FormMethod.Post, new { id = "frmCreateChapter" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" asp-for="Id" />
    <div class="panel-body p10 bg-light">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div>Tên chương<span style="color:red">*</span></div>
                        <input class="form-control" asp-for="NameChapter" placeholder="Tên chương" />
                        @Html.ValidationMessageFor(m => m.NameChapter)
                    </div>
                    <input type="hidden" asp-for="OrderChapter" />
                    <input type="hidden" asp-for="CourseId" />
                </div>
            </div>
        </div>
        <div class="clearfix text-center">
            <button type="submit" id="btnSubmit" class="btn btn-success"><span class='fa fa-save'></span>Lưu</button>
            <button type="button" class="button btn-danger btn-popup-cancel btnCloseBanner" data-dismiss="modal"><span class='fa fa-close'></span>Huỷ</button>
        </div>
    </div>
}