
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
    <link href="~/lib/pnotify/pnotify.css" rel="stylesheet" />
    <link href="~/lib/upload/fileupload.css" rel="stylesheet" />
    <link href="~/css/startuppost.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <style>
        body {
            padding: 0px;
        }
    </style>
</head>
<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v7.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="243747499599586"
         theme_color="#ff5ca1"
         logged_in_greeting="Chào! Tôi có thể giúp gì cho bạn?"
         logged_out_greeting="Chào! Tôi có thể giúp gì cho bạn?">
    </div>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                @*<button type="button" id="sidebarCollapse" class="btn btn-primary"></button>*@
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url(../images/bg_1.jpg);">
                <div class="user-logo">
                    <div class="img" style="background-image: url(@User.FindFirst( System.Security.Claims.ClaimTypes.CookiePath).Value);"></div>
                    <h3>@User.FindFirst(System.Security.Claims.ClaimTypes.Name).Value</h3>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/Home/Index"><span class="fa fa-home mr-3"></span>Trang chủ</a>
                </li>
                <li>
                    <a href="/User/MyCourse"><span class="fa fa-trophy mr-3"></span> Khóa học của tôi</a>
                </li>
                <li>
                    <a href="/User/Index/@User.FindFirst( System.Security.Claims.ClaimTypes.NameIdentifier).Value"><span class="fa fa-cog mr-3"></span> Đổi thông tin tài khoản</a>
                </li>
                <li>
                    <a href="/Home/Logout"><span class="fa fa-sign-out mr-3"></span>Đăng xuất</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2020 - DoAnTotNghiep</p>
            </footer>
            <!-- POPUP MODAL-->
            <div class="modal dsoft-popup-modal admin-form" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content panel">
                        <div class="modal-header panel-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title panel-title"></h4>
                        </div>
                        <div class="modal-body panel-content">
                        </div>
                    </div>
                </div>
            </div>

            <!-- POPUP MODAL-->
            <div class="modal fade dsoft-popup-modal-2 admin-form" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content panel">
                        <div class="modal-header panel-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title panel-title"></h4>
                        </div>
                        <div class="modal-body panel-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script src="~/css/popper.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/css/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- apps -->
    <!--This page JavaScript -->
    <script src="~/lib/mustache/mustache.js"></script>
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
    <script src="~/lib/pnotify/pnotify.js"></script>
    <script src="~/lib/pnotify/pnotify.custom.js"></script>
    <script src="~/lib/bootbox.js/bootbox.js"></script>
    <script src="~/lib/upload/fileupload.js"></script>
    <!--Custom JavaScript -->
    @*<script src="~/js/custom.js"></script>*@
    <script src="~/js/main.js"></script>
    <script src="~/js/common/commonfile.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
