<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="ChangePassword" id="ChangePassword" action="">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Nhập mật khẩu cũ">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Nhập mật khẩu mới">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="crepassword" name="crepassword" placeholder="Nhập lại mật khẩu mới">
                    </div>
                    <div>
                        <span class="text-danger" id="errorLogin"></span>
                    </div>
                    <button type="button" id="btnChangePass" class="btn btn-success btn-login w-100">Thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('body').on('click', '#btnChangePass', function () {
        var password = $('#cpassword').val();
        var __RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        $.ajax({
            url: "/Home/ChangePassword",
            type: "POST",
            dataType: "JSON",
            data: {
                password: password,
                __RequestVerificationToken: __RequestVerificationToken
            },
            success: function (res) {
                if (res) {
                    window.location.reload();
                    common.showNotify("Thay đổi mật khẩu thành công", "success");
                } else {
                    common.showNotify("Lỗi khi thay đổi mật khẩu", "error");
                }
            }
        })
    });
</script>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $('#ChangePassword').validate({
        rules: {
            oldpassword: {
                remote: {
                    url: "/Home/CheckPassword",
                    data:
                    {
                        oldpassword: $('#oldpassword').val()
                    },
                    type: "POST"
                },
                required: true
            },
            cpassword: {
                required: true,
                minlength: 5,
                maxlength: 18
            },
            crepassword: {
                required: true,
                minlength: 5,
                maxlength: 18,
                equalTo: "#cpassword"
            }
        },
        messages: {
            oldpassword: {
                remote: "Bạn nhập sai password!",
                required: "Vui lòng không để trống"
            },
            cpassword: {
                required: "Vui lòng không để trống",
                minlength: "Mật khẩu độ dài từ 5-18 kí tự",
                maxlength: "Mật khẩu độ dài từ 5-18 kí tự"
            },
            crepassword: {
                required: "Vui lòng không để trống",
                minlength: "Mật khẩu độ dài từ 5-18 kí tự",
                maxlength: "Mật khẩu độ dài từ 5-18 kí tự",
                equalTo: "Mật khẩu chưa khớp"
            }
        }
    });
</script>