@model UserVM
<section class="bg-SignIn js-section-SignIn" id="register">
    <div class="SignIn container">
        <h3 class="h3_title   h3_title-sigin"> Trở thành thành viên</h3>
        <form class="form-content" method="post" id="RegisterUser" name="RegisterUser" asp-action="RegisterUser" asp-controller="Home">
            <div class="form-group">
                <input asp-for="FullName" class="form-control" aria-describedby="emailHelp" placeholder="Nhập họ và tên">
                <span asp-validation-for="FullName"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" aria-describedby="emailHelp" placeholder="Nhập email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="Nhập mật khẩu">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="RePassword" class="form-control" placeholder="Nhập lại mật khẩu">
                @*<label class="error"></label>*@
                <span asp-validation-for="RePassword"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-signin w-100">Đăng kí</button>
            <div class="form-group">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
            <div class="form-group divfb">
                <div id="fb-root">
                    <div class="fb-login-button" data-size="large" data-button-type="login_with" data-layout="rounded" scope="public_profile,email"
                         onlogin="checkLoginState();" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
                </div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=541536780060115&autoLogAppEvents=1" nonce="heMF7ETv"></script>
            </div>
        </form>      
    </div>
</section>
<script>
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                var tokenFB = response.authResponse.accessToken;
                var __RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                $.ajax({
                    url: "Home/FacebookLogin",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        Token: tokenFB,
                        __RequestVerificationToken: __RequestVerificationToken
                    },
                    success: function (res) {
                        if (res.status) {
                            window.location.reload();
                            common.showNotify("Đăng nhập thành công", "success");
                        } else {
                            common.showNotify("Đăng nhập thất bại", "error");
                        }
                    },
                    error: function () {
                        common.showNotify("Đăng nhập thất bại", "error");
                    }
                });
            }
        });
    }
</script>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $('#RegisterUser').validate({
        rules: {
            FullName: {
                required: true,
                maxlength: 70
            },
            Email: {
                remote: {
                    url: "/Home/CheckUserEmail",
                    data: { email: $('#Email').val() },
                    type: "GET"
                },
                required: true,
                email: true
            },
            Password: {
                required: true,
                minlength: 5,
                maxlength: 18
            },
            RePassword: {
                required: true,
                minlength: 5,
                maxlength: 18,
                equalTo: "#Password"
            }
        },
        messages: {
            FullName: {
                required: "Vui lòng không để trống",
                maxlength: "Không được dài quá 70 kí tự",
            },
            Email: {
                remote: "Email đã tồn tại trong hệ thống!",
                required: "Vui lòng không để trống",
                email: "Email sai định dạng"
            },
            Password: {
                required: "Vui lòng không để trống",
                minlength: "Mật khẩu độ dài từ 5-18 kí tự",
                maxlength: "Mật khẩu độ dài từ 5-18 kí tự"
            },
            RePassword: {
                required: "Vui lòng không để trống",
                minlength: "Mật khẩu độ dài từ 5-18 kí tự",
                maxlength: "Mật khẩu độ dài từ 5-18 kí tự",
                equalTo: "Mật khẩu chưa khớp"
            }
        }
    });
</script>



