@model DashboardVM
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-12 mt-1 mb-3">
            <h3 class="h3_title">
                Báo cáo doanh thu
            </h3>
        </div>
        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div>
        <div class="col-12 mt-5 mb-3 p-0" id="report">

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/bootstrap-daterangepicker/moment.min.js"></script>
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.min.js"></script>

    <script>
        var startDate = moment().subtract(29, 'days');
        var endDate = moment();
        $(function () {

            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                startDate = start;
                endDate = end;
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Hôm nay': [moment(), moment()],
                    'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '7 Ngày trước': [moment().subtract(6, 'days'), moment()],
                    '30 Ngày trước': [moment().subtract(29, 'days'), moment()],
                    'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                    'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });
    </script>

    <script id="resultReport" type="x-tmpl-mustache">
        <div class="revenue-detail">
            @*<div class="revenue-detail__item">
                    <div class="icon-revenue">
                        <ion-icon name="newspaper-outline"></ion-icon>
                    </div>
                    <div class="content-revenue">
                        <div class="content-revenue__text">
                            Tổng đơn hàng
                        </div>
                        <div class="content-revenue__number">{{totalOrder}}</div>
                    </div>
                </div>*@
            <div class="revenue-detail__item">
                <div class="icon-revenue">
                    <ion-icon name="cash-outline"></ion-icon>
                </div>
                <div class="content-revenue">
                    <div class="content-revenue__text">
                        Tổng doanh thu
                    </div>
                    <div class="content-revenue__number">{{totalRevenue}}</div>
                </div>
            </div>
            <div class="revenue-detail__item">
                <div class="icon-revenue">
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <div class="content-revenue">
                    <div class="content-revenue__text">
                        Tổng số Khách hàng
                    </div>
                    <div class="content-revenue__number">{{totalCustomer}}</div>
                </div>
            </div>
            <div class="revenue-detail__item">
                <div class="icon-revenue">
                    <ion-icon name="film-outline"></ion-icon>
                </div>
                <div class="content-revenue">
                    <div class="content-revenue__text">
                        Tổng số khóa học được mua
                    </div>
                    <div class="content-revenue__number">{{totalCourse}}</div>
                </div>
            </div>
            @*<div class="revenue-detail__item">
                    <div class="icon-revenue">
                        <ion-icon name="sad-outline"></ion-icon>
                    </div>
                    <div class="content-revenue">
                        <div class="content-revenue__text">
                            Khoá học được mua nhiều
                        </div>
                        <div class="content-revenue__number">{{courseBuyMore}}</div>
                    </div>
                </div>*@
        </div>
    </script>
    <script>
        $('body').on('DOMSubtreeModified', '#reportrange span', function () {
            if (startDate != "" || endDate != "") {
                $.ajax({
                    url: "/Dashboard/Report",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        startdate: startDate.toISOString(),
                        enddate: endDate.toISOString()
                    },
                    success: function (res) {
                        var template = $('#resultReport').html();
                        var html = '';
                        var formatter = new Intl.NumberFormat('en', {
                            notation: 'standard',
                            //style: 'standard',
                            //currency: 'VND',
                            //maximumFractionDigits:0
                        });
                        html = Mustache.render(template, {
                            totalRevenue: formatter.format(res.revenue),
                            totalCustomer: formatter.format(res.totalcustomer),
                            totalCourse: formatter.format(res.totalcourse)
                        });
                        $('#report').html(html);
                    }
                });
            }
        });
    </script>
}
