<div class="row">
    <div class="col-md-12">
        <div class="table-responsive " style="grid-auto-columns:auto">
            <table class="table table-bordered table-striped table-hover table-responsive-sm">
                <thead class="thead-light text-center">
                    <tr>
                        <th style="width: 25%">Tên người dùng</th>
                        <th style="width: 10%">Ngày thanh toán</th>
                        <th style="width: 10%">Phương thức thanh toán</th>
                        <th style="width: 30%">Số tiền thanh toán</th>
                        <th style="width: 10%">Trạng thái</th>
                        <th style="width: 10%"><span class="fa fa-cog"></span></th>
                    </tr>
                </thead>
                <tbody id="tblCategories"></tbody>
            </table>
        </div>
        <div id="pagination" class="pagination">

        </div>
    </div>
</div>

<script id="data-template" type="x-tmpl-mustache">
    <tr class="text-center">
        <td>{{FullName}}</td>
        <td>{{OrderDate}}</td>
        <td>{{PayMethod}}</td>
        <td>{{TotalAmount}}</td>
        <td>{{Status}}</td>
        <td class="text-center col-md-2">
            @*<a href="javascript:void(0);"
               data-href="dsoft-popup-modal"
               data-event="popup-modal"
               data-url="/Order/Create/{{ID}}"
               data-width="1000"
               data-height="600"
               class="btn btn-sm btn-radius-left btn-warning dsoft-btn-show-popup mb-2">
                <span class="fa fa-edit"></span>
            </a>*@
            <a href="javascript:void(0);"
               data-message-confirm="Bạn có muốn thay đổi trạng thái đơn hàng không?"
               action="/Order/Delete"
               data-id="{{ID}}"
               class="btn btn-sm btn-danger btn-radius-right btn-delete btnDelete mb-2">
                <span class="fa fa-check-circle"></span>
            </a>
        </td>
    </tr>
</script>

