<div class="row">
    <div class="col-md-12">
        <div class="table-responsive " style="grid-auto-columns:auto">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Tên danh mục</th>
                        <th>Vị trí hiển thị</th>
                        <th>Trạng thái</th>
                        <th><span class="fa fa-cog"></span></th>
                    </tr>
                </thead>
                <tbody id="tblCategories"></tbody>
            </table>
        </div>
        <div id="pagination" class="pagination">

        </div>
    </div>
</div>

<script id="data-template" type="x-tmpl-mustache">
    <tr>
        <td class="col-md-2">{{Name}}</td>
        <td class="col-md-3">{{SortOrder}}</td>
        <td class="col-md-1">{{Status}}</td>
        <td class="text-center col-md-2">
            <a href="javascript:void(0);"
               data-href="dsoft-popup-modal"
               data-event="popup-modal"
               data-url="/CourseCategory/Create/{{ID}}"
               data-width="1000"
               data-height="600"
               class="btn btn-sm btn-radius-left btn-info dsoft-btn-show-popup">
                <span class="fa fa-edit"></span> Sửa
            </a>
            <a href="javascript:void(0);"
               data-message-confirm="Bạn có muốn xoá không?"
               action="/CourseCategory/Delete"
               data-id="{{ID}}"
               class="btn btn-sm btn-danger btn-radius-right btn-delete btnDelete">
                <span class="fa fa-remove"></span>Xoá
            </a>
        </td>
    </tr>
</script>

